name: docs-ci

on:
  push:
    branches: [main]
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: [main]

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.x'
            - run: pip install mkdocs-material
            - run: mkdocs gh-deploy --force